<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.abhinabera.pyabigbull">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Dashboard.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login.RegistrationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login.OTPActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login.UserNameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".IntroActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DataActivities.Nifty50.NiftyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DataActivities.Commodity.CommodityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DataActivities.Currency.CurrencyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Transactions.PurchaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserActivities.Userstocks.UserStocks"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserActivities.TransactionsHistory.TransactionsHistory"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserActivities.TermsAndConditions"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserActivities.About"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DataActivities.Nifty50.NiftyStocksIndividual"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DataActivities.Nifty50.NiftyIndvGraphActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".DataActivities.Commodity.CommodityGraphActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".DataActivities.Nifty50.NiftyGraphActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Transactions.SellActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DataActivities.Currency.CurrencyGraphActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Transactions.TransactionSummaryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserActivities.TransactionsHistory.TransactionsHistoryIndiPurchase"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserActivities.TransactionsHistory.TransactionsHistoryIndiSale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DataActivities.FixedDepositActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserActivities.Disclaimer"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserActivities.Userstocks.BoughtActivityIndi"
            android:screenOrientation="portrait" />
        <activity android:name=".Transactions.TransactionFDSummaryActivity" />
        <activity android:name=".Transactions.FDPurchaseActivity" />
        <activity android:name=".Transactions.FDSellActivity" />
        <activity android:name=".Transactions.TransactionsFDSellSumActivity"></activity>
    </application>

</manifest>